.chat-header
  .chat-header__left-box
    %h2.chat-header__left-box__group-name=@group.name
    %ul.chat-header__left-box__member-list
      Member：
      - @group.users.each do |member|
        %li= member.name
  = link_to edit_group_path(@group), data: {turbolinks: false} do
    .chat-header__group-edit
      Edit