.chat-header
  .chat-header__left-box
    %h2.chat-header__left-box__group-name testgroup
    %ul.chat-header__left-box__member-list
      Member：
      %li
        test
      %li
        test
      %li
        test
  = link_to root_path do
    .chat-header__group-edit
      Edit