.form
  %form.form__new-message
    .form__new-message__input-box
      %input{ type: "text", name: "chat", id: "chat", class: "form__new-message__input-box__input-text", placeholder: "type a message" }
      %lavel.form__new-message__input-box__input-image
        =fa_icon "image"
        %input{ type: "file", name: "datafile", id: "filesend" }
    %input{ type: "submit", value: "Send", class: "form__new-message__send" }