.message
  .message__info
    %p.message__info__user-name= message.user.name
    %p.message__info__daytime= message.created_at
  - if message.content.present?
    %p.message__text= message.content
  = image_tag message.image, height: '200', width: '200' if message.image.present?