.groups {
  @include paddingLR;
  margin-top: 20px;
  overflow: auto;
  height: calc(100vh - 120px);
  &__group{
    margin-bottom: 40px;
    &__group-name{
      @include font($fSize: 15px, $fWeight: normal);
      margin-bottom: 5px;
    }
    &__group-chat{
      @include font($fSize: 11px, $fWeight: normal);
    }
  }
}